{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
ProFit Zone
{% endblock %}

{% block content %}
        <section class="promo-banners">
            <div class="promo-grid">
                <div class="banner large-banner" style="background-image: url('{% static 'main/img/banner-background.jpeg' %}')">
                    <h2>Скидка 50% на спортивное питание!</h2>
                    <p>Только до конца месяца! Успей купить.</p>
                    <a href="{% url 'nutrition' %}" class="btn">Купить сейчас</a>
                </div>
                <div class="banner small-banner" style="background-image: url('{% static 'main/img/banner-small-background.jpeg' %}')">
                    <h2>Бесплатная доставка</h2>
                    <p>На заказы от 3000 рублей по всей стране.</p>
                    <a href="/delivery" class="btn">Подробнее</a>
                </div>
                <div class="banner small-banner" style="background-image: url('{% static 'main/img/banner2-small-background.jpeg' %}')">
                    <h2>Новинки оборудования</h2>
                    <p>Новые тренажёры и аксессуары для фитнеса.</p>
                    <a href="{% url 'lifting' %}" class="btn">Купить</a>
                </div>
            </div>
        </section>        
        <section class="swedish-walls">
            <div class="container">
                <h2>Шведские стенки</h2>                
                <div class="swedish-walls-grid">
                    <div class="product-grid">
                        <a style="text-decoration: none;" href="{% url 'product_card' 1 %}">
                        <div class="product-card">
                            <img src="{% static 'main/img/swedish-wall-1.png' %}" alt="Шведская стенка 1">
                            <h4>Шведская стенка IronClimb</h4>
                            <p class="price">14980</p>
                            <button class="add-to-cart-btn">Купить</button>
                        </div>
                        </a>
                    </div>
                        <div class="product-grid">
                            <a style="text-decoration: none;" href="{% url 'product_card' 2 %}">
                            <div class="product-card">
                                <img src="{% static 'main/img/swedish-wall-2.png' %}" alt="Шведская стенка 2">
                                <h4>Шведская стенка TitanPro</h4>
                                <p class="price">19980</p>
                                <button class="add-to-cart-btn">Купить</button>
                            </div>
                            </a>
                        </div>
                            <div class="product-grid">
                                <a style="text-decoration: none;" href="{% url 'product_card' 4 %}">
                                <div class="product-card">
                                    <img src="{% static 'main/img/swedish-wall-3.png' %}" alt="Шведская стенка 2">
                                    <h4>Шведская стенка IronClimb</h4>
                                    <p class="price">24990</p>
                                    <button class="add-to-cart-btn">Купить</button>
                                </div>
                                </a>
                            </div>
                </div>
            </div>
        </section>
        <section class="weightlifting">
            <div class="container">
                <h2>Тяжёлая атлетика</h2>                
                <div class="weightlifting-grid">
                    <div class="product-grid">
                        <a style="text-decoration: none;" href="{% url 'product_card' 23 %}">
                        <div class="product-card">
                            <img src="{% static 'main/img/barbell-1.png' %}" alt="Штанга разборная">
                            <h4>Штанга разборная</h4>
                            <p class="price">25990</p>
                            <button class="add-to-cart-btn">Купить</button>
                        </div>
                        </a>
                    </div>
                    <div class="product-grid">
                        <a style="text-decoration: none;" href="{% url 'product_card' 27 %}">
                        <div class="product-card">
                            <img src="{% static 'main/img/dumbbells-adjustable.png' %}" alt="Гантели регулируемые">
                            <h4>Регулируемые гантели</h4>
                            <p class="price">38990</p>
                            <button class="add-to-cart-btn">Купить</button>
                        </div>
                        </a>
                    </div>
                    <div class="product-grid">
                        <a style="text-decoration: none;" href="{% url 'product_card' 28 %}">
                        <div class="product-card">
                            <img src="{% static 'main/img/weightlifting-belt.png' %}" alt="Пояс для тяжёлой атлетики">
                            <h4>Пояс для тяжёлой атлетики</h4>
                            <p class="price">2990</p>
                            <button class="add-to-cart-btn">Купить</button>
                        </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <section class="catalogue-section">
            <div class="container">
                <h2>Каталог товаров</h2>
                <div class="catalogue-grid">
                    <a style="text-decoration: none;" href="{% url 'swedish_walls' %}">
                    <div class="catalogue-item">
                        <img src="{% static 'main/img/swedish-wall-1.png' %}" alt="Шведские стенки">
                        <p>Шведские стенки</p>
                    </div>
                    </a>
                    <a style="text-decoration: none;" href="{% url 'horizontal_bars' %}">
                    <div class="catalogue-item">
                        <img src="{% static 'main/img/bar.png' %}" alt="Турники">
                        <p>Турники</p>
                    </div>
                    </a>
                    <a style="text-decoration: none;" href="{% url 'nutrition' %}">
                    <div class="catalogue-item">
                        <img src="{% static 'main/img/protein-1.png' %}" alt="Уличные комплексы">
                        <p>Спортивное питание</p>
                    </div>
                    </a>
                    <a style="text-decoration: none;" href="{% url 'lifting' %}">
                    <div class="catalogue-item">
                        <img src="{% static 'main/img/barbell-1.png' %}" alt="Тяжелая атлетика">
                        <p>Тяжелая атлетика</p>
                    </div>
                    </a>
                    <a style="text-decoration: none;" href="{% url 'racks' %}">
                    <div class="catalogue-item">
                        <img src="{% static 'main/img/bench.png' %}" alt="Стойки под штангу">
                        <p>Стойки под штангу</p>
                    </div>
                    </a>
                    <a style="text-decoration: none;" href="{% url 'martial_arts' %}">
                    <div class="catalogue-item">
                        <img src="{% static 'main/img/glowes-1.png' %}" alt="Единоборства">
                        <p>Единоборства</p>
                    </div>
                    </a>
                    <a style="text-decoration: none;" href="{% url 'fitness' %}">
                    <div class="catalogue-item">
                        <img src="{% static 'main/img/fitness-rubber-1.png' %}" alt="Фитнес">
                        <p>Фитнес</p>
                    </div>
                    </a>
                    <a style="text-decoration: none;" href="{% url 'catalogue' %}">
                    <div class="catalogue-item">
                        <img src="{% static 'main/img/dumbbels-1.png' %}" alt="Весь каталог">
                        <p>Весь каталог</p>
                    </div>
                    </a>
                </div>
            </div>
        </section>
        
{% endblock %}